<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="t1.css">
</head>
<style>
    

    body{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Courier New', Courier, monospace;
    }


    .header{

        font-size: 50px;
    }
</style>
<body>
    <div class="header">
        BÀI THỰC HÀNH SỐ 3 - QUẢN LÝ NHÂN VIÊN THEO MÔ HÌNH MVC
    </div>
</body>

</html>