<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        padding: 0;
        margin: 0;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 800;
        font-size: 20px;
        overflow: hidden;
        background-color: rgb(0, 255, 102);
    }

    ul, 
    li, 
    a{
        text-decoration: none;
        list-style: none;
    }

    ul { 
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
</style>
<body>
    <ul>
        <li><a href="../../Controller/C_Nhanvien.php?xem_thong_tin_NV" target = "t3">Xem nhân viên</a></li>
        <li><a href="../../Controller/C_Phongban.php?xem_thong_tin_PB" target = "t3">Xem phòng ban</a></li>
        <li><a href="../../Controller/C_Nhanvien.php?tim_kiem" target = "t3">Tìm kiếm </a></li>

        <li><a href="../../Controller/C_Nhanvien.php?chen_NV" target = "t3">Chèn nhân viên </a></li>
        <li><a href="../../Controller/C_Phongban.php?chen_PB" target = "t3">Chèn phòng ban </a></li>
        <li><a href="../../Controller/C_Phongban.php?capnhat_PB" target = "t3">Cập nhật phòng ban </a></li>
        <li><a href="../../Controller/C_Nhanvien.php?xoa_NV" target = "t3">Xóa nhân viên </a></li>
        <li><a href="../../Controller/C_Nhanvien.php?xoa_nhieu_NV" target = "t3">Xóa nhiều nhân viên </a></li>
        <li><a href="../../Controller/C_Nhanvien.php?dangxuat" target = "t3">Đăng xuất </a></li>
    </ul>
</body>
</html>